* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Oxygen', sans-serif;
}

body {
    font-size: 15px;
    color: rgb(0, 0, 0);
}
  
/** HEADER **/
.container {
    margin: -25px 0 0px 0px;
}

#header-nav {
    background-color: gray;
  }
  
/* Restaurant name */
.navbar-brand {
    font-family: 'Oxygen', sans-serif;
    font-size: 1.3em;
    margin: 8px 0px 20px 0;
    padding-top: 11px;
    margin-left: 20px;
    height: 65px;
}

h1 {
    font-family: 'Oxygen', sans-serif;
    color: black;
}

/* Menu Title */
h2 {
    padding: 11px 0 15px 0;
    text-align: center;
    color: solid black;
    
}

/* Menu Item Title */
h3 {
    background-color: grey;
    padding: 11px 11px 11px 11px;
    text-align: center;
    margin: 0px;
}

p {
    background-color: grey;
    height: auto;
    padding: 11px 43px 11px 25px;
    margin: -1px 0 10px;
}

/* Nav List */

#nav-list {
    margin-top: 10px;
}
#nav-list a {
    color: black;
    text-align: center;
}
#nav-list a:hover {
    background: white;
  }

  
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 2px solid black;
  }

.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
  }

/********** Large devices only **********/
@media (min-width: 1200px) {
    
}
  
  /********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
/* Header */
.navbar-brand {
    padding-top: 15px;
    height: 80px;
  } 
}
  
/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
/* Header */
   .navbar-brand {
    padding-top: 15px;
    height: 80px;
  } 
}
  
/********** Extra small devices only **********/
@media (max-width: 767px) {
/* Header */
.navbar-brand {
    padding-top: 15px;
    padding-left: 0px;
    height: 80px;
}
    
#collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
}
  
#call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #f6b319;
    color: black;
}
#xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
    }
}
    /* End Header */